.header{
    background-image: linear-gradient(90deg, rgba(67, 143, 255, 1) 0%, rgba(37, 109, 230, 1) 100%);
}
.login-wrap{
    background: #ffffff;
}
.plugins-tips{
    background: #afafaf;
}
.plugins-tips a{
    color: #20a0ff;
}

.tags-li.active {
    border: 1px solid #409EFF;
    background-color: #409EFF;
}
.message-title{
    color: #20a0ff;
}
.collapse-btn:hover{
    transform: scale(1.1);
}